<!--load django-bootstrap3 module-->
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学习笔记</title>
<!--load bootstrap3 css & js-->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
<!--Bootstrap3 component: static navbar-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      </button>
      <a class="navbar-brand" href="{% url 'learning_logs:index' %}">
          <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
          Learning Log
      </a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'learning_logs:topics' %}">
            <span class="glyphicon glyphicon-grain" aria-hidden="true"></span>
            Topics
        </a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li><a>Hello, <b>{{ user.username }}</b>.
              <span class="glyphicon glyphicon glyphicon-user" aria-hidden="true"></span>
          </a></li>
          <li><a href="{% url 'users:logout' %}">log out
              <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
          </a></li>
        {% else %}
          <li><a href="{% url 'users:register' %}">register</a></li>
          <li><a href="{% url 'users:login' %}">log in
              <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
          </a></li>
        {% endif %}
      </ul>
    </div>
      <!--/.nav-collapse -->
  </div>
</nav>

<div class="container">

  <div class="page-header">
    {% block header %}{% endblock %}
  </div>
  <div>
    {% block content %}{% endblock %}
  </div>

</div> <!-- /container -->
{#<p>#}
{#    <a href="{% url 'learning_logs:index' %}">Learning Log学习笔记</a> -#}
{#    <a href="{% url 'learning_logs:topics' %}">Topics</a>#}
{#    {% if user.is_authenticated %}#}
{#        Hello, {{ user.username }}.#}
{#        <a href="{% url 'users:logout' %}">logout</a>#}
{#    {% else %}#}
{#        <a href="{% url 'users:register' %}">register</a> -#}
{#        <a href="{% url 'users:login' %}">login</a>#}
{#    {% endif %}#}
{#</p>#}
{#{% block content %}{% endblock content %}#}

</body>
</html>